# Python Syntax: Medical Insurance Project

Suppose you are a medical professional curious about how certain factors contribute to medical insurance costs. Using a formula that estimates a person's yearly insurance costs, you will investigate how different factors such as age, sex, BMI, etc. affect the prediction.

## Setting up Factors

1. Our first step is to create the variables for each factor we will consider when estimating medical insurance costs.

   These are the variables we will need to create:
   - `age`: age of the individual in years
   - `sex`: 0 for female, 1 for male*
   - `bmi`: individual's body mass index
   - `num_of_children`: number of children the individual has
   - `smoker`: 0 for a non-smoker, 1 for a smoker
   
   In the code block below, create the following variables for a **28**-year-old, **nonsmoking woman** who has **three children** and a **BMI** of **26.2**.
   
   **Note**: We are using this [medical insurance dataset](https://www.kaggle.com/mirichoi0218/insurance) as a guide, which unfortunately does not include data for non-binary individuals.

In [1]:
# create the initial variables below
age = 28
sex = 0
bmi = 26.2
num_of_chilren = 3
smoker = 0

## Working with the Formula

2. After the declaration of the variables, create a variable called `insurance_cost` that utilizes the following formula:

   $$
   \begin{aligned}
   insurance\_cost = 250*age - 128*sex \\
   + 370*bmi + 425*num\_of\_children \\
   + 24000*smoker - 12500 \\
   \end{aligned}
   $$

In [2]:
# Add insurance estimate formula below
insurance_cost = 250 * age - 128 * sex + 370 * bmi + 425 * num_of_chilren + 24000 * smoker - 12500

3. Let's display this value in an informative way. Print out the following string in the kernel:

   ```
   This person's insurance cost is {insurance_cost} dollars.
   ```
   
   You will need to use string concatenation, including the `str()` function to print out the `insurance_cost`.

In [3]:

print("This perosn's insurance cost is: " + str(insurance_cost) + " dollars.")

This perosn's insurance cost is: 5469.0 dollars.

## Looking at Age Factor

4. We have seen how our formula can estimate costs for one individual. Now let's play with some individual factors to see what role each one plays in our estimation!

   Let's start with the `age` factor. Using a plus-equal operator, add 4 years to our `age` variable.

In [4]:
age += 4

5. Now that we have changed our `age` value, we want to recalculate our insurance cost. Declare a new variable called `new_insurance_cost` in the code block below.

   Make sure you leave the `insurance_cost` variable the same as in Task 2. We will use it later in our program!

In [5]:
new_insurance_cost = 250 * age - 128 * sex + 370 * bmi + 425 * num_of_chilren + 24000 * smoker - 12500
print(new_insurance_cost)

6469.0

6. Next, we want to find the difference between our `new_insurance_cost` and `insurance_cost`. To do this, let's create a new variable called `change_in_insurance_cost` and set it equal to the difference between `new_insurance_cost` and `insurance_cost`.

   Note: depending on the order that we subtract (eg., `new_insurance_cost - insurance_cost` vs. `insurance_cost - new_insurance_cost`), we'll get a positive or negative version of the same number. To make this difference interpretable, let's calculate `new_insurance cost - insurance_cost`. Then we can say, "people who are four years older have estimated insurance costs that are `change_in_insurance_cost` dollars different, where the sign of `change_in_insurance_cost` tells us whether the cost is higher or lower".

In [7]:
change_in_insurance_cost = new_insurance_cost - insurance_cost

7. We want to display this information in an informative way similar to the output from instruction 3. In the code block below, print the following string, where `XXX` is replaced by the value of `change_in_insurance_cost`:

   ```
   The change in cost of insurance after increasing the age by 4 years is XXX dollars.
   ```
   
   Doing this will tell us how 4 years in age affects medical insurance cost estimates assuming that all other variables remain the same.
   
   You will need to concatenate strings and use the `str()` method.

In [8]:
print("The change in cost of insurance after increasing the age by 4 years is " + str(change_in_insurance_cost) + " dollars.")

The change in cost of insurance after increasing the age by 4 years is 1000.0 dollars.

## Looking at BMI Factor

8. Now that you have looked at the age factor, let's move onto another one: BMI. First, we have to redefine our `age` variable to be its original value.

   Set `age` to `28`. This will reset its value and allow us to focus on just the change in the BMI factor moving forward.
   
   On the next line, using the plus-equal operator, add `3.1` to our `bmi` variable.

In [10]:
age = 28
bmi += 3.1

9. Now let's find out how a change in BMI affects insurance costs. Our next steps are pretty much the same as we have done before when looking at `age`.
   1. Below the line where `bmi` was increased by `3.1`, rewrite the insurance cost formula and assign it to the variable name `new_insurance_cost`.
   2. Save the difference between `new_insurance_cost` and `insurance_cost` in a variable called `change_in_insurance_cost`.
   3. Display the following string in the output terminal, where `XXX` is replaced by the value of `change_in_insurance_cost`:
   
   ```py
   The change in estimated insurance cost after increasing BMI by 3.1 is XXX dollars.
   ```

In [14]:
new_insurance_cost = 250 * age - 128 * sex + 370 * bmi + 425 * num_of_chilren + 24000 * smoker - 12500
change_in_insurance_cost = new_insurance_cost - insurance_cost
print("The change in estimated insuracne cost after increasing BMI by 3.1 is " + str(change_in_insurance_cost) + " dollars.")

The change in estimated insuracne cost after increasing BMI by 3.1 is 2294.0 dollars.

## Looking at Male vs. Female Factor

10. Let's look at the effect sex has on medical insurance costs. Before we make any additional changes, first reassign your `bmi` variable back to its original value of `26.2`.

    On a new line of code in the code block below, reassign the value of `sex` to `1`. A reminder that `1` identifies male individuals and `0` identifies female individuals.

In [15]:
bmi = 26.2
sex = 1

11. Perform the steps below!
    1. Rewrite the insurance cost formula and assign it to the variable name `new_insurance_cost`.
    2. Save the difference between `new_insurance_cost` and `insurance_cost` in a variable called `change_in_insurance_cost`.
    3. Display the following string, where `XXX` is replaced by the value of `change_in_insurance_cost`:
    ```
    The change in estimated cost for being male instead of female is XXX dollars.
    ```

In [16]:
new_insurance_cost = 250 * age - 128 * sex + 370 * bmi + 425 * num_of_chilren + 24000 * smoker - 12500
change_in_insurance_cost = new_insurance_cost - insurance_cost
print("The change in estimated insuracne cost for being male instead of female is " + str(change_in_insurance_cost) + " dollars.")

The change in estimated insuracne cost for being male instead of female is -128.0 dollars.

12. Notice that this time you got a negative value for `change_in_insurance_cost`. Let's think about what that means. We changed the sex variable from `0` (female) to `1` (male) and it decreased the estimated insurance costs.

    This means that men tend to have lower medical costs on average than women. Reflect on the other findings you have dug up from this investigation so far.

## Extra Practice

13. Great job on the project!!!

    So far we have looked at 3 of the 5 factors in the insurance costs formula. The two remaining are `smoker` and `num_of_children`. If you want to keep challenging yourself, spend some time investigating these factors!
    1. Rewrite the insurance cost formula and assign it to the variable name `new_insurance_cost`.
    2. Save the difference between `new_insurance_cost` in a variable called `change_in_insurance_cost`.
    3. Display the information below!

In [18]:
age = 22
sex = 1
bmi = 27.1
num_of_chilren = 0
smoker = 0

new_insurance_cost = 250 * age - 128 * sex + 370 * bmi + 425 * num_of_chilren + 24000 * smoker - 12500
print(new_insurance_cost)

2899.0

# Python Functions: Medical Insurance Project

In this code, we estimate the medical insurance costs for two individuals, Maria and Omar, based on five variables

In [1]:
# Initial variables for Maria 
age = 28
sex = 0  
bmi = 26.2
num_of_children = 3
smoker = 0

In [2]:
# Initial variables for Omar
age = 35
sex = 1 
bmi = 22.2
num_of_children = 0
smoker = 1

In [3]:
# Estimate Maria's insurance cost
maria_insurance_cost = 250*age - 128*sex + 370*bmi + 425*num_of_children + 24000*smoker - 12500

In [4]:
# Estimate Omar's insurance cost 
omar_insurance_cost = 250*age - 128*sex + 370*bmi + 425*num_of_children + 24000*smoker - 12500

Let’s start by defining a function called `calculate_insurance_cost()`.

In [11]:
def calculate_insurance_cost(age, sex, bmi, num_of_children, smoker, name):

    estimated_cost = 250*age - 128*sex + 370*bmi + 425*num_of_children + 24000*smoker - 12500

    print(f"The estimated insurance cost for {name} is {estimated_cost} dollars.")

    return estimated_cost

The function is now properly set up to calculate an individual’s medical insurance costs based on the five variables passed into it. Let’s test this out!

In [12]:
maria_insurance_cost = calculate_insurance_cost(28, 0, 26.2, 3, 0, 'Maria')

The estimated insurance cost for Maria is 5469.0 dollars.

In [13]:
omar_insurance_cost = calculate_insurance_cost(35, 1, 22.2, 0, 1, 'Omar')

The estimated insurance cost for Omar is 28336.0 dollars.

In [14]:
adrian_insurance_cost = calculate_insurance_cost(22, 1, 27.1, 0, 0, 'Adrian')

The estimated insurance cost for Adrian is 2899.0 dollars.

Second function to calculate the difference between the insurance costs (given as inputs)

In [15]:
def difference_between_insurances(first_insurance, second_insurance):
    return first_insurance - second_insurance

In [16]:
difference_between_insurances(omar_insurance_cost, adrian_insurance_cost)

25437.0

In [17]:
difference_between_insurances(omar_insurance_cost, maria_insurance_cost)

22867.0

In [18]:
difference_between_insurances(maria_insurance_cost, adrian_insurance_cost)

2570.0

# Control flow part

In this part, I will examine how factors such as age, sex, BMI, number of children, and smoking status contribute to medical insurance costs.

In [25]:
# Function to estimate insurance cost:
def estimate_insurance_cost(name, age, sex, bmi, num_of_children, smoker):
  estimated_cost = 250*age - 128*sex + 370*bmi + 425*num_of_children + 24000*smoker - 12500
  print(name + "'s Estimated Insurance Cost: " + str(estimated_cost) + " dollars.")
  analyze_smoker(smoker)
  analyze_bmi(bmi)
  return estimated_cost

In [20]:
keanu_insurance_cost = estimate_insurance_cost(name = 'Keanu', age = 29, sex = 1, bmi = 26.2, num_of_children = 3, smoker = 1)

Keanu's Estimated Insurance Cost: 29591.0 dollars.

Currently, our function prints out the estimated insurance cost based on the values passed into the function. But it doesn’t do much beyond that.

It would be much more helpful if our function could provide more insight into how we can lower our insurance cost. We’ll learn to do exactly that by using control flow – `if`, `elif`, and `else` statements – in our code.

In [22]:
# function for analyzing if person is smoking
def analyze_smoker(smoker_status):
    if smoker_status == 1:
        print("To lower your cost, you should consider qutting smoking.")
    else:
        print("Smoking is not an issue for you.")

In [27]:
# function for analyzing bmi
def analyze_bmi(bmi_value):
    if bmi_value > 30:
        bmi_diff = bmi_value - 30
        print(f"Your BMI is in the obese range. To lower your cost, you should significantly lower your BMI by {bmi_diff}.")
    elif bmi_value >= 25 and bmi_value <= 30:
        bmi_diff = bmi_value - 25
        print(f"Your BMI is in the overweight range. To lower your cost, you should lower your BMI by {bmi_diff}.")
    elif bmi_value >= 18.5 and bmi_value < 25:
        print("Your BMI is in a healthy range.")
    elif bmi_value < 18.5:
        bmi_diff = 18.5 - bmi_value
        print(f"Your BMI is in the underweight range. Increasing your BMI by {bmi_diff} will not help lower your cost, but it will help improve your health.")

In [28]:
adrian_insurance_cost = estimate_insurance_cost(name='Adrian', age=22, sex=1, bmi=27.1, num_of_children=0, smoker=0)

Adrian's Estimated Insurance Cost: 2899.0 dollars.
Smoking is not an issue for you.
Your BMI is in the overweight range. To lower your cost, you should lower your BMI by 2.1000000000000014.

# Lists part

In [29]:
# adding two more people

rohan_insurance_cost = estimate_insurance_cost(name = 
"Rohan", age = 25, sex = 1, bmi = 28.5, num_of_children = 3, smoker = 0)

valentina_insurance_cost = estimate_insurance_cost(name = "Valentina", age = 53, sex = 0, bmi = 31.4, num_of_children = 0, smoker = 1)

Rohan's Estimated Insurance Cost: 5442.0 dollars.
Smoking is not an issue for you.
Your BMI is in the overweight range. To lower your cost, you should lower your BMI by 3.5.
Valentina's Estimated Insurance Cost: 36368.0 dollars.
To lower your cost, you should consider qutting smoking.
Your BMI is in the obese range. To lower your cost, you should significantly lower your BMI by 1.3999999999999986.

In [30]:
names = ['Maria', 'Rohan', 'Valentina']

In [31]:
insurance_costs = [4150.0, 5320.0, 35210.0]

In [43]:
insurance_data = zip(names, insurance_costs)
print(list(insurance_data))

[('Maria', 4150.0), ('Rohan', 5320.0), ('Valentina', 35210.0)]

In [44]:
estimate_insurance_data = []
estimate_insurance_data.append(("Maria", maria_insurance_cost))
estimate_insurance_data.append(("Rohan", rohan_insurance_cost))
estimate_insurance_data.append(("Valentina", valentina_insurance_cost))
print(estimate_insurance_data)

[('Maria', 5469.0), ('Rohan', 5442.0), ('Valentina', 36368.0)]

In [49]:
print("Here is the actual insurance cost data: " + str(list(insurance_data)))

Here is the actual insurance cost data: []

In [51]:
print("Here is the actual insurance cost data: " + str(estimate_insurance_data))

Here is the actual insurance cost data: [('Maria', 5469.0), ('Rohan', 5442.0), ('Valentina', 36368.0)]

# Next step! Working with Python Lists

In [52]:
names = ["Mohamed", "Sara", "Xia", "Paul", "Valentina", "Jide", "Aaron", "Emily", "Nikita", "Paul"]
insurance_costs = [13262.0, 4816.0, 6839.0, 5054.0, 14724.0, 5360.0, 7640.0, 6072.0, 2750.0, 12064.0]

In [53]:
names.append("Priscilla")
insurance_costs.append(8320.0)

In [62]:
medical_records = zip(insurance_costs, names)
medical_records = list(medical_records)
print(medical_records)

[(13262.0, 'Mohamed'), (4816.0, 'Sara'), (6839.0, 'Xia'), (5054.0, 'Paul'), (14724.0, 'Valentina'), (5360.0, 'Jide'), (7640.0, 'Aaron'), (6072.0, 'Emily'), (2750.0, 'Nikita'), (12064.0, 'Paul'), (8320.0, 'Priscilla')]

In [63]:
num_medical_records = len(medical_records)
print(f"There are {num_medical_records} medical records.")

There are 11 medical records.

In [65]:
first_medical_record = medical_records[0]
print(f"Here is the first medical record: {first_medical_record}")

Here is the first medical record: (13262.0, 'Mohamed')

In [66]:
medical_records.sort()
print(medical_records)

[(2750.0, 'Nikita'), (4816.0, 'Sara'), (5054.0, 'Paul'), (5360.0, 'Jide'), (6072.0, 'Emily'), (6839.0, 'Xia'), (7640.0, 'Aaron'), (8320.0, 'Priscilla'), (12064.0, 'Paul'), (13262.0, 'Mohamed'), (14724.0, 'Valentina')]

In [69]:
cheapest_three = medical_records[:3]
print(f"Here are the three cheapest insurance costs in our medical records: {cheapest_three}")

Here are the three cheapest insurance costs in our medical records: [(2750.0, 'Nikita'), (4816.0, 'Sara'), (5054.0, 'Paul')]

In [72]:
priciest_three = medical_records[-3:]
print(f"Here are the three most expensive insurance costs in our medical records: {priciest_three}")

Here are the three most expensive insurance costs in our medical records: [(12064.0, 'Paul'), (13262.0, 'Mohamed'), (14724.0, 'Valentina')]

In [74]:
occurences_paul = names.count("Paul")
print(f"There are {occurences_paul} individuals with the name Paul in our medical records.")

There are 2 individuals with the name Paul in our medical records.

In [78]:
middle_five_record = medical_records[3:8]
print(middle_five_record)

[(5360.0, 'Jide'), (6072.0, 'Emily'), (6839.0, 'Xia'), (7640.0, 'Aaron'), (8320.0, 'Priscilla')]

# Python Loops

In this part, I will use your new knowledge of Python loops to iterate through and analyze medical insurance cost data.

In [79]:
names = ["Judith", "Abel", "Tyson", "Martha", "Beverley", "David", "Anabel"]
estimated_insurance_costs = [1000.0, 2000.0, 3000.0, 4000.0, 5000.0, 6000.0, 7000.0]
actual_insurance_costs = [1100.0, 2200.0, 3300.0, 4400.0, 5500.0, 6600.0, 7700.0]

In [80]:
total_cost = 0
for cost in actual_insurance_costs:
    total_cost += cost

print(total_cost)

30800.0

In [84]:
average_cost = total_cost / len(actual_insurance_costs)
print(f"Average Insurance Cost: {average_cost} dollars.")

Average Insurance Cost: 4400.0 dollars.

In [88]:
for i in range(len(names)):
    name = names[i]
    insurance_cost = actual_insurance_costs[i]
    print(f"The insurance cost for {name} is {insurance_cost} dollars.")

The insurance cost for Judith is 1100.0 dollars.
The insurance cost for Abel is 2200.0 dollars.
The insurance cost for Tyson is 3300.0 dollars.
The insurance cost for Martha is 4400.0 dollars.
The insurance cost for Beverley is 5500.0 dollars.
The insurance cost for David is 6600.0 dollars.
The insurance cost for Anabel is 7700.0 dollars.

In [96]:
for i in range(len(names)):
    name = names[i]
    insurance_cost = actual_insurance_costs[i]
    if insurance_cost > average_cost:
        above = insurance_cost - average_cost
        print(f"The insurance cost for {name} is above average by {above}.")
    elif insurance_cost < average_cost:
        below = average_cost - insurance_cost
        print(f"The insurance cost for {name} is below average by {below}.")
    elif insurance_cost == average_cost:
        print(f"The insurance cost for {name} is equal to the average.")

The insurance cost for Judith is below average by 3300.0.
The insurance cost for Abel is below average by 2200.0.
The insurance cost for Tyson is below average by 1100.0.
The insurance cost for Martha is equal to the average.
The insurance cost for Beverley is above average by 1100.0.
The insurance cost for David is above average by 2200.0.
The insurance cost for Anabel is above average by 3300.0.

In [94]:
updated_estimated_costs = [estimated_cost * 11/10 for estimated_cost in estimated_insurance_costs]
print(updated_estimated_costs)

[1100.0, 2200.0, 3300.0, 4400.0, 5500.0, 6600.0, 7700.0]

# Python Strings

In [1]:
medical_data = \
"""Marina Allison   ,27   ,   31.1 , 
#7010.0   ;Markus Valdez   ,   30, 
22.4,   #4050.0 ;Connie Ballard ,43 
,   25.3 , #12060.0 ;Darnell Weber   
,   35   , 20.6   , #7500.0;
Sylvie Charles   ,22, 22.1 
,#3022.0   ;   Vinay Padilla,24,   
26.9 ,#4620.0 ;Meredith Santiago, 51   , 
29.3 ,#16330.0;   Andre Mccarty, 
19,22.7 , #2900.0 ; 
Lorena Hodson ,65, 33.1 , #19370.0; 
Isaac Vu ,34, 24.8,   #7045.0"""
print(medical_data)

Marina Allison   ,27   ,   31.1 ,
#7010.0   ;Markus Valdez   ,   30,
22.4,   #4050.0 ;Connie Ballard ,43
,   25.3 , #12060.0 ;Darnell Weber
,   35   , 20.6   , #7500.0;
Sylvie Charles   ,22, 22.1
,#3022.0   ;   Vinay Padilla,24,
26.9 ,#4620.0 ;Meredith Santiago, 51   ,
29.3 ,#16330.0;   Andre Mccarty,
19,22.7 , #2900.0 ;
Lorena Hodson ,65, 33.1 , #19370.0;
Isaac Vu ,34, 24.8,   #7045.0

In [3]:
# get the $$$ 
updated_medical_data = medical_data.replace('#', '$')
print(updated_medical_data)

Marina Allison   ,27   ,   31.1 ,
$7010.0   ;Markus Valdez   ,   30,
22.4,   $4050.0 ;Connie Ballard ,43
,   25.3 , $12060.0 ;Darnell Weber
,   35   , 20.6   , $7500.0;
Sylvie Charles   ,22, 22.1
,$3022.0   ;   Vinay Padilla,24,
26.9 ,$4620.0 ;Meredith Santiago, 51   ,
29.3 ,$16330.0;   Andre Mccarty,
19,22.7 , $2900.0 ;
Lorena Hodson ,65, 33.1 , $19370.0;
Isaac Vu ,34, 24.8,   $7045.0

In [7]:
# calculate number of medical records
num_records = 0

for char in updated_medical_data:
    if char == '$':
        num_records += 1

print(f"There are {num_records} medical records in the data.")

There are 10 medical records in the data.

In [9]:
# split each medical record 
medical_data_split = updated_medical_data.split(";")
print(medical_data_split)

['Marina Allison   ,27   ,   31.1 , \n$7010.0   ', 'Markus Valdez   ,   30, \n22.4,   $4050.0 ', 'Connie Ballard ,43 \n,   25.3 , $12060.0 ', 'Darnell Weber   \n,   35   , 20.6   , $7500.0', '\nSylvie Charles   ,22, 22.1 \n,$3022.0   ', '   Vinay Padilla,24,   \n26.9 ,$4620.0 ', 'Meredith Santiago, 51   , \n29.3 ,$16330.0', '   Andre Mccarty, \n19,22.7 , $2900.0 ', ' \nLorena Hodson ,65, 33.1 , $19370.0', ' \nIsaac Vu ,34, 24.8,   $7045.0']

In [16]:
# split each medical record into its own list
medical_records = []

for record in medical_data_split:
    medical_records.append(record.split(","))

print(medical_records)

[['Marina Allison   ', '27   ', '   31.1 ', ' \n$7010.0   '], ['Markus Valdez   ', '   30', ' \n22.4', '   $4050.0 '], ['Connie Ballard ', '43 \n', '   25.3 ', ' $12060.0 '], ['Darnell Weber   \n', '   35   ', ' 20.6   ', ' $7500.0'], ['\nSylvie Charles   ', '22', ' 22.1 \n', '$3022.0   '], ['   Vinay Padilla', '24', '   \n26.9 ', '$4620.0 '], ['Meredith Santiago', ' 51   ', ' \n29.3 ', '$16330.0'], ['   Andre Mccarty', ' \n19', '22.7 ', ' $2900.0 '], [' \nLorena Hodson ', '65', ' 33.1 ', ' $19370.0'], [' \nIsaac Vu ', '34', ' 24.8', '   $7045.0']]

In [31]:
# removing whitespaces and upercasing names

medical_records_clean = []

for record in medical_records:
    record_clean = []
    for item in record:
        record_clean.append(item.strip())
    record[0] = record[0].upper()
    medical_records_clean.append(record_clean)
    

print(medical_records_clean[0])
print(medical_records_clean[2])
print(medical_records_clean[4])

['MARINA ALLISON', '27', '31.1', '$7010.0']
['CONNIE BALLARD', '43', '25.3', '$12060.0']
['SYLVIE CHARLES', '22', '22.1', '$3022.0']

In [34]:
# let's store each name, age, bmi and insurance in separate lists

names = []
ages = []
bmis = []
insurance_costs = []

In [35]:
for record in medical_records_clean:
    names.append(record[0])
    ages.append(record[1])
    bmis.append(record[2])
    insurance_costs.append(record[3])

In [37]:
print(f"{names}\n{ages}\n{bmis}\n{insurance_costs}")

['MARINA ALLISON', 'MARKUS VALDEZ', 'CONNIE BALLARD', 'DARNELL WEBER', 'SYLVIE CHARLES', 'VINAY PADILLA', 'MEREDITH SANTIAGO', 'ANDRE MCCARTY', 'LORENA HODSON', 'ISAAC VU']
['27', '30', '43', '35', '22', '24', '51', '19', '65', '34']
['31.1', '22.4', '25.3', '20.6', '22.1', '26.9', '29.3', '22.7', '33.1', '24.8']
['$7010.0', '$4050.0', '$12060.0', '$7500.0', '$3022.0', '$4620.0', '$16330.0', '$2900.0', '$19370.0', '$7045.0']

Let's perform some analysis on that data

In [44]:
# caluculating average BMI in our dataset
total_bmi = 0

for bmi in bmis:
    total_bmi += float(bmi)

average_bmi = total_bmi / float(len(bmis))

print(f"Average BMI: {average_bmi}")

Average BMI: 25.830000000000002

In [48]:
# calculating average insurance costs
total_costs = 0
for cost in insurance_costs:
    cost = cost.replace("$", "")
    total_costs += float(cost)

average_cost = total_costs / float(len(insurance_costs))

print(f"Average insurance cost: ${average_cost}")

Average insurance cost: $8390.7

In [76]:
for name, age, bmi, insurance_cost in zip(names, age, bmi, insurance_costs):
    name = name.split(" ")
    name = name[0]
    name = name.capitalize()
    
    print(f"{name} is {age} old with a BMI of {bmi} and an insuracne cost of {insurance_cost}")

Marina is 27 old with a BMI of 31.1 and an insuracne cost of $7010.0
Markus is 30 old with a BMI of 22.4 and an insuracne cost of $4050.0
Connie is 43 old with a BMI of 25.3 and an insuracne cost of $12060.0
Darnell is 35 old with a BMI of 20.6 and an insuracne cost of $7500.0
Sylvie is 22 old with a BMI of 22.1 and an insuracne cost of $3022.0
Vinay is 24 old with a BMI of 26.9 and an insuracne cost of $4620.0
Meredith is 51 old with a BMI of 29.3 and an insuracne cost of $16330.0
Andre is 19 old with a BMI of 22.7 and an insuracne cost of $2900.0
Lorena is 65 old with a BMI of 33.1 and an insuracne cost of $19370.0
Isaac is 34 old with a BMI of 24.8 and an insuracne cost of $7045.0